.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background: linear-gradient(45deg, rgb(0, 60, 255), rgb(0, 0, 0));
    color: #FFF;
    background-size: 400%, 400%;
	animation: cambiar 5s ease infinite;
  cursor: pointer;

  }
  .card-counter.primary::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .card-counter.primary:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .card-counter.primary:hover::before {
    opacity: 1;
  }
  @keyframes cambiar{
		0%{background-position:0 50%;}
		50%{background-position: 100% 50%;}
	
	} 
  .card-counter.danger{
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 0, 0));
    color: #FFF;
    background-size: 400%, 400%;
    animation: cambiar 5s ease infinite;
    cursor: pointer;
  }  
  .card-counter.danger::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .card-counter.danger:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .card-counter.danger:hover::before {
    opacity: 1;
  }
  .card-counter.success{
    background: linear-gradient(45deg, rgb(255, 153, 0), rgb(0, 0, 0));
    color: #FFF;
    background-size: 400%, 400%;
    animation: cambiar 5s ease infinite;
    cursor: pointer;
  }  
  .card-counter.success::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .card-counter.success:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .card-counter.success:hover::before {
    opacity: 1;
  }
  .card-counter.info{
    background: linear-gradient(45deg, rgb(0, 225, 255), rgb(0, 0, 0));
    color: #FFF;
    background-size: 400%, 400%;
    animation: cambiar 5s ease infinite;
    cursor: pointer;
  }  
  .card-counter.info::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .card-counter.info:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .card-counter.info:hover::before {
    opacity: 1;
  }
  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

  